body {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	font-weight: normal;
}

.datatable-header{
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	font-weight: bold;
}

.datatable-row{
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	font-weight: normal;
}

.form-label{
	font-size: 5px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	font-weight: normal;	
}

.ui-widget, .ui-widget .ui-widget {
	font-size: 12px !important;              
}
         
.form-text{
	border:solid 5px #e0e0e0;	
}

header {
	padding: 5px;
	margin-bottom: 20px;
	height: 30px;
	background-color: #545454;
	color: #fff;
	box-shadow: 0px 2px 2px #ccc;
}

#conteudo {
	padding: 0px 8px;
}

footer {
	border-top: 1px solid #ccc;
	padding: 5px 8px;
	margin-top: 20px;
	margin-bottom: 10px;
}
